<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Uno - Connexion</title>
    </head>
    <body>
        <main>
            <img src="/public/images/logo.png" alt="Uno" />
            <form id="login-form">
                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Ton pseudo"
                    maxlength="20"
                    required
                />
                <button type="submit">Jouer</button>
            </form>
        </main>
        <script src="/public/js/index.js"></script>
    </body>
</html>
