<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uno - Lobby</title>
  </head>
  <body>
    <header style="text-align: center">
      <img src="/public/images/logo.png" alt="Uno" width="250" />
      <span id="current-username"></span>
    </header>
    <main>
      <h1>Lobby</h1>
      <section id="create-room">
        <form id="create-room-form">
          <input type="text" id="room-name" name="room-name" placeholder="Nom de la room" maxlength="30" required />
          <button type="submit">Créer une room</button>
          <p id="create-room-msg" hidden></p>
        </form>
      </section>
      <section id="join-room">
        <form id="join-room-form">
          <input type="text" id="search-room" name="search-room" placeholder="Rechercher une room" />
          <button type="submit" id="join-room-btn" disabled>Rejoindre</button>
        </form>
      </section>
      <hr />
      <section id="room-list">
        <h2>Liste des rooms</h2>
        <ul id="rooms"></ul>
      </section>
    </main>
    <script src="/public/js/lobby.js"></script>
  </body>
</html>
